.footer-buttons {
    padding: 15px;
}

.footer {
    background-color: rgb(242 254 255);
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    margin-top: 15px;
}

.footer button {
    float: right;
    margin-bottom: 15px;
    margin-left: 10px;
    width: 75px;
}