.right-search-form {
    height: auto;
    padding: 0
}

.right-search-form p {
    padding: 7px;
    background-color: rgb(255 171 85);
    margin-bottom: 0
}

.right-search-form .search-form-body,
.right2 .search-form-body {
    padding: 8px;
    height: 100%;
    padding-top: 15px;
    background-color: rgb(242 254 255);
}

.right-search-form {
    border: 1px solid grey;
    border-radius: 5px;
}

.right-search-form {
    width: 100%;
}

.right-search-form input {
    width: 80%;
}

.right-search-form button {
    margin-left: 10px;
}

.right-search-form .search-form-body {
    height: auto;
}

@media screen and (max-width:550px) {
    .col-md-9.col-xs-12.right-part {
        float: none;
        padding: 0;
        margin-top: 25px;
    }
}