<div class="left-search-by-form col-md-3">
    <p>Search by</p>
    <div class="search-form-body">

        <label>{{symbol.fname}} {{label.fname}}</label>
        <input type="text" [(ngModel)]="fname" (keyup.enter)="handleInput_On_Enter(fname)">
        <br>

        <label>{{symbol.lname}} {{label.lname}}</label>
        <input type="text" [(ngModel)]="lname" (keyup.enter)="handleInput_On_Enter(lname)">
        <br>

        <label>{{symbol.chartno}} {{label.chartno}}</label>
        <input type="text" [(ngModel)]="chartno" (keyup.enter)="handleInput_On_Enter(chartno)">
        <br>

        <label>{{symbol.address}} {{label.address}}</label>
        <input type="text" [(ngModel)]="address" (keyup.enter)="handleInput_On_Enter(address)">
    </div>
</div>