<div class="col-md-12 col-xs-12 main">

    <header>
        Search Patient
    </header>
    <div class="left col-md-3">
        <p>Search by</p>
        <div class="border">

            <label>{{symbol.fname}} {{label.fname}}</label>
            <input type="text" [(ngModel)]="fname" (keyup.enter)="getInput(fname)">

            <br>

            <label>{{symbol.lname}} {{label.lname}}</label>
            <input type="text" [(ngModel)]="lname" (keyup.enter)="getInput(lname)">
            <br>
            <label>{{symbol.chartno}} {{label.chartno}}</label>
            <input type="text" [(ngModel)]="chartno" (keyup.enter)="getInput(chartno)">
            <br>
            <label>{{symbol.add}} {{label.add}}</label>
            <input type="text" [(ngModel)]="add" (keyup.enter)="getInput(add)">
        </div>

    </div>
    <div class="col-md-9 right">
        <div class="right1">
            <p>Search</p>
            <div class="border">
                <input type="text" [(ngModel)]="main" (ngModelChange)="HandleSearch($event)">
                <button>Search</button>
                <button type="button" (click)="ClearAll()">Clear</button>
            </div>
        </div>


        <div class="right2">
            <p>Search</p>
            <div class="border">
                <table class="table">
                    <th>{{this.label.fname}}</th>
                    <th>{{this.label.lname}}</th>
                    <th>{{this.label.chartno}}</th>
                    <th>{{this.label.add}}</th>
                </table>
            </div>
        </div>

    </div>

    <div class="footer col-md-12">
        <div class="footer-1">
            <button type="button">Ok</button>
            <button type="button">Cancel</button>
        </div>
    </div>
</div>